<div class="nav-container">
    <nav class="nav-menu">
        <ul class="nav-list">
            <li class="nav-item"><a href="#">Home</a></li>
            <li class="nav-item"><a href="#">New Change</a></li>
            <li class="nav-item"><a href="#">Requirements</a></li>
            <li class="nav-item"><a href="#">Subcategories</a></li>
            <li class="nav-item"><a href="#">Reports</a></li>
            <li class="nav-item"><a href="#">Self Chart</a></li>
        </ul>
    </nav>
</div>
