<div class="content-container">
    <div class="header_web">
        <div class="logo_container">
            <a class="site-header_logo-container" target="_self">
                <img width="100" height="40" src="https://upload.wikimedia.org/wikipedia/commons/2/2f/Google_2015_logo.svg" alt="Home page">
            </a>
        </div>
    </div>
   
    <div class="subheader_web">
        <div class="row-wrapper"></div>
        <div class="row-wrapper1">
            <span class="cell_wrapper">Assignment</span>
        </div>
        <div class="row-sub-wrapper">
            <span class="cell_sub_wrapper">
                <img class="req-confirm-img" src="https://upload.wikimedia.org/wikipedia/commons/0/0b/Search_Icon.svg" alt="user_icon">
                <img class="req-confirm-img" src="https://upload.wikimedia.org/wikipedia/commons/0/0b/Search_Icon.svg" alt="user_icon">
                <img class="req-confirm-img" src="https://upload.wikimedia.org/wikipedia/commons/0/0b/Search_Icon.svg" alt="user_icon">
                <img class="req-confirm-img" src="https://upload.wikimedia.org/wikipedia/commons/0/0b/Search_Icon.svg" alt="user_icon">
            </span>
        </div>
    </div>
</div>